html{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}body{
    font-family: 'Poppins', sans-serif;
    color: #fff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;

}
body a{
    color: #fff;
}
a{
    text-decoration: none;
}
.btn{
    border: solid #fff 1px;
    border-radius: 5px;
    padding: 10px;
}
.row{
    max-width: 1140px;
    margin: 0 auto;
    position: relative;
}
span{
    font-size: 17px;
    font-weight: 400;
    color: #191918;
}
.header-section{
    position: relative;
    background-color: #212020;
}
.topbar{
    width: 100%;
    height: 80px;
    background-color: #212020;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 999;
    box-shadow:  0px 10px 30px -16px #000
    
}
.logo{
    width: 180px;
    height: 80px;
    margin-left: 10px
}
.top-ccontent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px 5px 15px;
    font-weight: 300;
    font-size: 14px;
}
.contact-content p,i{
    margin: 0px 10px;
}
 i{
    font-size: 22px;
}

.contact-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.register-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.btn1{
    border: solid #116041 1px;
    background-color: #116041;
    margin: 0px 5px;
}
.hero-section{
    height: 800px;
    background-color: #212020;
    padding: 200px 5px 0px 50px;
    z-index: 980;
    
}
.hero{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.hero-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.up-down-btn{
    padding: 0px 20px;
}
.btn-round{
    border: solid #E1E0E0 1px;
    background-color: #E1E0E0;
    border-radius: 50%;
    padding: 10px;
    text-align: center;
    color: black;
}
.hero-text{
    padding: 0px 20px;
}
h1{
    font-size: 50px;
    line-height: 60px;
}
.hero-text p{
    margin: 10px 0px;
}
.hero-btn{
    margin-top: 30px;
}
.hero-image{
    width: 100%;
}
.hero-image img{
    width: 100%;
    height: auto;
}
.recipes-section{
    background-color: #212020;
    height: 550px;
    padding-top: 80px;
    z-index: 960;
    box-shadow: 0px -15px 25px #000;
    
}
.recipe-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.section-heading{
    font-size: 40px;
    margin-bottom: 15px;
}
.recipe-content{
    text-align: center;
}
.recipe-name{
    font-size: 25px;
    margin-top: 10px;
}
.recipe-price{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 400;
}
.about-blog-client-section{
    background-image: url("../images/bg.jpg");
    color: #000;
}
.heading-row{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    text-align: center;
    width: 55%;
}
.about-conent{
    display: flex;
    justify-content: space-evenly;
    padding-top: 75px;
    height: 700px;
}
.best-food-content{
    background-color: #191918;
    width: 100%;
    height: 480px;
    margin-right: 10px;
}
.best-food-card{
    color: #fff;
    margin: 50px 35px 0px 35px;
    text-align: justify;

}
.best-food-card span{
    color: #fff;
}
.best-food-title{
    font-size: 30px;
    padding-bottom: 25px;
}
.best-food-title-description{
    font-size: 17px;
    line-height: 28px;
    text-align: justify;
}
.read-more{
    padding-top: 15px;
    font-size: 22px;
}
.read-more a:hover{   
    color: #E67525;
}
.food-image-card{
    width: 100%;
}
.about-image-card{
    width: 450px;
    margin-left: 15px;
}
.food-image{
    background-color: #E67525;
    margin-top: 115px;
    height: 480px;
}
.food-image img{
    margin-top: 90px;
    width: 100%;
    margin-left: 90px;
}
.blog-content{
    display: flex;
}
.card{
    border: solid 1px #000;
    margin: 50px 10px 0px 10px;
}
.card-image{
    box-shadow: 0px 0px 3px #000;
}
.card-info{
    padding: 40px 15px 25px 15px;
    color: #373535;
    text-align: justify;
}
.card-title{
    margin-bottom: 20px;
    font-size: 25px;
}
.client-card{
    margin: 0 auto;
    text-align: center;
    width: 50%;
    background-color: #212020;
    border-radius: 30px;
}
.card-image2{
    padding-top: 60px;
}
.card-info{
    text-align: center;
}
.client-card-info h4
{
    color: #fff;
}
.client-card-info span
{
    color: #fff;
}
.client-icon{
    margin-bottom: 20px;
}
.contact-section{
    height: 700px;
    background-color: #E67525;
}
.request-call-content{
    margin-top: 80px;
    display: flex;
    padding-top: 100px;
    justify-content: flex-end;
}
.contact{
    width: 40%;
    margin-right: 30px;
}
.contact-heading {
    color: #000;
}
.section-heading span{
    font-size: 40px;
    font-weight: bold;
    color: #fff;
}
.form-section{
    display: flex;
    flex-direction: column;
}
.input-box{
    margin: 10px 0px;
    height: 60px;
    padding: 10px 0px 10px 30px;
    font-size: 18px;
}
.text-box{
    height: 100px;
}
.submit-btn{
   width: 30%;
   padding: 20px;
   font-size: 18px;
   margin-top: 15px;
}
.submit-btn:hover{
    background-color: #116041;
    color: #fff;
    border: solid #116041 1px;

}
.contact-image{
    width: 50%;
    padding-top: 80px;
}
.contact-image img{
    width: 100%;
}
.logo-row{
    text-align: center;
}
.logo-row img{
    width: 200px;
}
footer{
    background-color: #E67525;
}
.footer-logo{
    background-color: #000;
}
.navbar{
    width: 45%;
    text-align: center;
}
nav{
    display: flex;
    text-align: center;
}
nav li{
    padding: 35px 25px;
}
nav li a{
    color: #000;
    font-size: 20px;
}
.active{
    color: #fff;
}
nav li a:hover{
    color: #fff;
}
.credit{
    background-color: #fff;
    padding: 30px;
    text-align: center;
}